$colorWhite: #FFF;
$colorGrey: #f9f9f9;
$colorBlack: #171717;
$colorRed: #d70e2a;

$borderSection: 1px solid rgba(0, 0, 0, .3);
$borderCards: 1px solid rgba(0, 0, 0, .1);

$breakpoint_tablet: 768px;
$breakpoint_mobile: 576px;
